<!-- @@{
    ViewData["Title"] = "Home Page";
} -->

@{
    Layout = "_Layout";
}


<!--Carousel index-->

<div class="container-fluid carousel-background pb-5">
    <div class="row">
        <div class="col"></div>
        <div id="carouselExampleAutoplaying" class="carousel slide col my-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2500">
                    <img src="https://www.informusic.it/wp-content/uploads/2020/10/miglior-violino.jpg" class="d-block w-100"
                         alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2500">
                    <img src="https://www.raiscuola.rai.it/dl/img/2021/03/24/1616586033732_1584444217498_fotoMusica2020.jpg"
                         class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2500">
                    <img src="https://spettacolo.com/media/catalog/category/arredamento-music-store-pannelli-dogato-bianco-SPETTACOLO-Shop-For-Store-min.jpg"
                         class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col"></div>
    </div>
</div>

<!--Codice di alessio-->

<div class="container-fluid carousel-background textColor">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <p class="fs-1 fw-bolder text-center my-1 pb-3">Benvenuto nel ParaTour Music Store!</p>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="container-fluid mx-5">
    <div class="row">
        <div class="card col-12 border vetrina-background p-0">
            <div class="container-fluid card-body">
                <div class="row">
                    <div class="col-4">
                        <p class="fs-2 fw-bolder">Il nostro Store:</p>
                        <p class="fs-4">
                            Il nostro store nasce nel lontano 1980, fondato da Emanuele Paratore, grande musicista e intenditore di
                            musica,
                            strumenti e composizione. Dopo un periodo di stazionamento a Busto Arsizio, il ParaTour Music Store si è
                            spostato nella grande Milano,
                            dove ha trovato un'accoglienza a dir poco calorosa! Da 30 anni infatti, gran parte dei musicisti Lombardi
                            scelgono ogni giorno il nostro store
                            come punto di riferimento per attrezzature, strumenti, riparazioni e pareri tecnici!
                        </p>
                    </div>

                    <div class="col-8">
                        <img src="https://production-cdn.momento360.com/e/u/8fa1e6e782c04ab7bc480084598a99d9/sphere/preview"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Fine codice alessio-->

<!--Verranno visualizzate le card attraverso l'API-->
<div class="container-fluid">
    loadInstrument();
</div>

<!--Richiamo a file JS-->
<script type="text/javascript" src="~/js/homeapi.js"></script>